.carousel-caption{
    text-align: center;
    color: #fff;
    background-color: rgba(194, 2, 2, 0.432);
    position: relative; 
    left: 0vw;
    top: 0vw;
}

.carrouselImageSize{
    width: 100%;
}
.carrouselLetterSize{
    font-size: 3vw;
}