

<body>
  
    <ul class="galeria">
        <li><a href="#img1"><img src="./assets/photos/img1.jpg" alt=""></a></li>
        <li><a href="#img2"><img src="./assets/photos/img2.jpg" alt=""></a></li>
        <li><a href="#img3"><img src="./assets/photos/img3.jpg" alt=""></a></li>
        <li><a href="#img4"><img src="./assets/photos/img4.jpg" alt=""></a></li>
        <li><a href="#img5"><img src="./assets/photos/img5.jpg" alt=""></a></li>
        <li><a href="#img6"><img src="./assets/photos/img6.jpg" alt=""></a></li>
        <li><a href="#img7"><img src="./assets/photos/img7.jpg" alt=""></a></li>
        <li><a href="#img8"><img src="./assets/photos/img8.jpg" alt=""></a></li>
        <li><a href="#img9"><img src="./assets/photos/img9.jpg" alt=""></a></li>
        <li><a href="#img10"><img src="./assets/photos/img10.jpg" alt=""></a></li>


        <li><a href="#img11"><img src="./assets/photos/img11.jpg" alt=""></a></li>
        <li><a href="#img12"><img src="./assets/photos/img12.jpg" alt=""></a></li>
        <li><a href="#img13"><img src="./assets/photos/img13.jpg" alt=""></a></li>
        <li><a href="#img14"><img src="./assets/photos/img14.jpg" alt=""></a></li>
        <li><a href="#img15"><img src="./assets/photos/img15.jpg" alt=""></a></li>
        <li><a href="#img16"><img src="./assets/photos/img16.jpg" alt=""></a></li>
        <li><a href="#img17"><img src="./assets/photos/img17.jpg" alt=""></a></li>
        <li><a href="#img18"><img src="./assets/photos/img18.jpg" alt=""></a></li>
        <li><a href="#img19"><img src="./assets/photos/img19.jpg" alt=""></a></li>
        <li><a href="#img20"><img src="./assets/photos/img20.jpg" alt=""></a></li>
      
        <li><a href="#img21"><img src="./assets/photos/img21.JPG" alt=""></a></li>
    </ul>


    <!-- LAS PRIMETAS 10 ( 1 - 10 )  IMAGENES DEL MODAL-->

    <div class="modalImagen" id="img1">
        <h3>imagen 1</h3>
        <div class="imagen">
            <a href="#img21">&#60;</a>
            <a href="#img2"><a href=""><img src="./assets/photos/img1.jpg" alt="" width="80%"></a></a>
            <a href="#img2">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img2">
        <h3>imagen 2</h3>
        <div class="imagen">
            <a href="#img1">&#60;</a>
            <a href="#img3"><a href=""><img src="./assets/photos/img2.jpg"  alt="" width="60%"></a></a>
            <a href="#img3">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img3">
        <h3>imagen 3</h3>
        <div class="imagen">
            <a href="#img2">&#60;</a>
            <a href="#img4"><a href=""><img src="./assets/photos/img3.jpg" alt="" width="80%"></a></a>
            <a href="#img4">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img4">
        <h3>imagen 4</h3>
        <div class="imagen">
            <a href="#img3">&#60;</a>
            <a href="#img5"><a href=""><img src="./assets/photos/img4.jpg" alt="" width="80%"></a></a>
            <a href="#img5">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img5">
        <h3>imagen 5</h3>
        <div class="imagen">
            <a href="#img4">&#60;</a>
            <a href="#img6"><a href=""><img src="./assets/photos/img5.jpg" alt="" width="80%"></a></a>
            <a href="#img6">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img6">
        <h3>imagen 6</h3>
        <div class="imagen">
            <a href="#img5">&#60;</a>
            <a href="#img7"><a href=""><img src="./assets/photos/img6.jpg" alt="" width="80%"></a></a>
            <a href="#img7">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modalImagen" id="img7">
        <h3>imagen 7</h3>
        <div class="imagen">
            <a href="#img6">&#60;</a>
            <a href="#img8"><a href=""><img src="./assets/photos/img7.jpg" alt="" width="80%"></a></a>
            <a href="#img8">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img8">
        <h3>imagen 8</h3>
        <div class="imagen">
            <a href="#img7">&#60;</a>
            <a href="#img9"><a href=""><img src="./assets/photos/img8.jpg" alt="" width="80%"></a></a>
            <a href="#img9">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>



    <div class="modalImagen" id="img9">
        <h3>imagen 9</h3>
        <div class="imagen">
            <a href="#img8">&#60;</a>
            <a href="#img10"><a href=""><img src="./assets/photos/img9.jpg" alt="" width="80%"></a></a>
            <a href="#img10">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img10">
        <h3>imagen 10</h3>
        <div class="imagen">
            <a href="#img9">&#60;</a>
            <a href="#img11"><a href=""><img src="./assets/photos/img10.jpg" alt="" width="80%"></a></a>
            <a href="#img11">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>



<!-- LAS SEGUNDAS IMAGENES DE LA ( 11 - 21) IMAGENES DEL MODAL-->



    <div class="modalImagen" id="img11">
        <h3>imagen 11</h3>
        <div class="imagen">
            <a href="#img10">&#60;</a>
            <a href="#img12"><a href=""><img src="./assets/photos/img11.jpg" alt="" width="80%"></a></a>
            <a href="#img12">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img12">
        <h3>imagen 12</h3>
        <div class="imagen">
            <a href="#img11">&#60;</a>
            <a href="#img13"><a href=""><img src="./assets/photos/img12.jpg"  alt="" width="60%"></a></a>
            <a href="#img13">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img13">
        <h3>imagen 13</h3>
        <div class="imagen">
            <a href="#img12">&#60;</a>
            <a href="#img14"><a href=""><img src="./assets/photos/img13.jpg" alt="" width="80%"></a></a>
            <a href="#img14">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img14">
        <h3>imagen 14</h3>
        <div class="imagen">
            <a href="#img13">&#60;</a>
            <a href="#img15"><a href=""><img src="./assets/photos/img14.jpg" alt="" width="80%"></a></a>
            <a href="#img15">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img15">
        <h3>imagen 15</h3>
        <div class="imagen">
            <a href="#img14">&#60;</a>
            <a href="#img16"><a href=""><img src="./assets/photos/img15.jpg" alt="" width="80%"></a></a>
            <a href="#img16">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img16">
        <h3>imagen 16</h3>
        <div class="imagen">
            <a href="#img15">&#60;</a>
            <a href="#img17"><a href=""><img src="./assets/photos/img16.jpg" alt="" width="80%"></a></a>
            <a href="#img17">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

    <div class="modalImagen" id="img17">
        <h3>imagen 17</h3>
        <div class="imagen">
            <a href="#img16">&#60;</a>
            <a href="#img18"><a href=""><img src="./assets/photos/img17.jpg" alt="" width="80%"></a></a>
            <a href="#img18">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img18">
        <h3>imagen 18</h3>
        <div class="imagen">
            <a href="#img17">&#60;</a>
            <a href="#img19"><a href=""><img src="./assets/photos/img18.jpg" alt="" width="80%"></a></a>
            <a href="#img19">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>



    <div class="modalImagen" id="img19">
        <h3>imagen 19</h3>
        <div class="imagen">
            <a href="#img18">&#60;</a>
            <a href="#img20"><a href=""><img src="./assets/photos/img19.jpg" alt="" width="80%"></a></a>
            <a href="#img20">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img20">
        <h3>imagen 20</h3>
        <div class="imagen">
            <a href="#img19">&#60;</a>
            <a href="#img21"><a href=""><img src="./assets/photos/img20.jpg" alt="" width="80%"></a></a>
            <a href="#img21">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>



    <!-- ESTA ES LA ULTIMA QUE REGRESA A LA PRIMERA PARA CERRAR EL CICLO-->
    <div class="modalImagen" id="img21">
        <h3>imagen 21</h3>
        <div class="imagen">
            <a href="#img20">&#60;</a>
            <a href="#img1"><a href=""><img src="./assets/photos/img21.JPG" alt="" width="80%"></a></a>
            <a href="#img1">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>































    


















    

</body>