

<body>
   <h1>holaaaaaaaaaaaaa</h1>
    <ul class="galeria">
        <li><a href="#img1"><img src="https://scontent-qro1-2.xx.fbcdn.net/v/t1.6435-9/161000086_10218189146018658_6824480633472169629_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=174925&_nc_eui2=AeGMX9bLHOewIhjkyBajT_XDKcXNiyVIHDwpxc2LJUgcPDXbKJhiuLf8iftzJK1EdJY&_nc_ohc=wsJAKhMgIAEAX8w9VCb&_nc_ht=scontent-qro1-2.xx&oh=00_AT8VrfYqjg-9xMKIq4WrTbZfEwkOZ909pbYd8YVScSz5RA&oe=61ED83B7" alt=""></a></li>
        <li><a href="#img2"><img src="https://alfabetajuega.com/hero/2021/02/Los-personajes-de-One-Piece-lucen-increibles-en-esta-ilustracion-lenticular.jpg?width=1200&aspect_ratio=1200:631" alt=""></a></li>
        <li><a href="#img3"><img src="https://4.bp.blogspot.com/-VsTRnhJYkQU/TjrGwis5q0I/AAAAAAAAABY/IHT06wrh3NA/s1600/0016-Luffy0.png" alt=""></a></li>
        <li><a href="#img4"><img src="https://www.sonypictures.es/sites/default/files/2021-11/KEY_ART_1400x2100-2.jpg" alt=""></a></li>
    </ul>

    <div class="modalImagen" id="img1">
        <h3>imagen 1</h3>
        <div class="imagen">
            <a href="#img4">&#60;</a>
            <a href="#img2"><a href=""><img src="https://scontent-qro1-2.xx.fbcdn.net/v/t1.6435-9/161000086_10218189146018658_6824480633472169629_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=174925&_nc_eui2=AeGMX9bLHOewIhjkyBajT_XDKcXNiyVIHDwpxc2LJUgcPDXbKJhiuLf8iftzJK1EdJY&_nc_ohc=wsJAKhMgIAEAX8w9VCb&_nc_ht=scontent-qro1-2.xx&oh=00_AT8VrfYqjg-9xMKIq4WrTbZfEwkOZ909pbYd8YVScSz5RA&oe=61ED83B7" alt=""></a></a>
            <a href="#img2">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img2">
        <h3>imagen 1</h3>
        <div class="imagen">
            <a href="#img1">&#60;</a>
            <a href="#img3"><a href=""><img src="https://alfabetajuega.com/hero/2021/02/Los-personajes-de-One-Piece-lucen-increibles-en-esta-ilustracion-lenticular.jpg?width=1200&aspect_ratio=1200:631" alt=""></a></a>
            <a href="#img3">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img3">
        <h3>imagen 1</h3>
        <div class="imagen">
            <a href="#img2">&#60;</a>
            <a href="#img4"><a href=""><img src="https://4.bp.blogspot.com/-VsTRnhJYkQU/TjrGwis5q0I/AAAAAAAAABY/IHT06wrh3NA/s1600/0016-Luffy0.png" alt=""></a></a>
            <a href="#img4">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>


    <div class="modalImagen" id="img4">
        <h3>imagen 1</h3>
        <div class="imagen">
            <a href="#img3">&#60;</a>
            <a href="#img1"><a href=""><img src="https://www.sonypictures.es/sites/default/files/2021-11/KEY_ART_1400x2100-2.jpg" alt=""></a></a>
            <a href="#img1">></a>
        </div>
        <a class="cerrar" href="">X</a>
    </div>

</body>