.letrasResponsivasTitulo{ // titulo dias para la boda
    text-align: center;
    font-size: 3vw;
    text-align: center; 
    color:#910505a8; 
    FONT-FAMILY: cursive;
}

.time-countdown ul li.count-bg-one {
    background: #910505a8;
    font-size: 3vw;
}

.time-countdown ul li.count-bg-two {
    background: #910505a8;
    font-size: 3vw;
}

.time-countdown ul li.count-bg-three {
    background: #910505a8;
    font-size: 3vw;
   
}

.time-countdown ul li.count-bg-four {
    background: #910505a8;
    font-size: 3vw;
}

.radius{
    border-radius: 50%;
}

.time-countdown ul li {
    display: inline-block; //pone los circulos en fila horizontalmente
    color: #FFF; //letra blanca
    font-family: 'Poppins', sans-serif;
    width: 14vw; //ancho del circulo
    height: 14vw; //alto del circulo
    margin-right: 3vw; //separacion entre circulos
    text-align: center; // centra las letras
    padding: 2vw 0vh; //hace el la separacion de letras con circulo ( arriba-abajo, izquierada -derecha)
}

.time-countdown ul li span {
    display: block;
    font-weight: bold;
}

section { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 41vw; 
    left: -2.2vw;
}
