<section >
    <div class="time-countdown" >
        <h5 class="letrasResponsivasTitulo">DÍAS PARA LA PACHANGA MÁS ESPERADA !!!</h5>
        <ul>
            <li class="count-bg-one radius"> <span id="days">{{day}}  </span>
                Días
            </li>
            <li class="count-bg-two radius" ><span id="hours">{{hours}} </span>
                Horas
            </li>
            <li class="count-bg-three radius"><span id="minutes">{{minutes}} </span>
                Minutos
            </li>
            <li class="count-bg-four radius"><span id="seconds">{{seconds}} </span>
                Segundos
            </li>
        </ul>
    </div>    
</section>
