<div class="time-countdown" >
    <h2 style="color: #910505; text-align: center;">DÍAS PARA LA PACHANGA MÁS ESPERADA :</h2>
    <ul style="position: relative; top: -30px;">
        <li class="count-bg-one radius">
            <span id="days">{{day}}  <h5>DÍAS</h5></span>
           
        </li>
        <li class="count-bg-two radius" style="block-size: auto;"><span id="hours">{{hours}}  <h5>HORAS</h5></span>
           
        </li>
        <li class="count-bg-three radius"><span id="minutes">{{minutes}}  <h5>MINUTOS</h5></span>
           
        </li>
        <li class="count-bg-four radius"><span id="seconds">{{seconds}} <h5>SEGUNDOS</h5></span>
            
        </li>
    </ul>
</div>

