
.letraCursivaElegante{

  font-family: 'Mochiy Pop P One';
  text-align: center;
  color: rgb(211, 19, 19);
  font-weight: bold;
}


.colorFondo {
    width: 100%;
    background: linear-gradient(90deg,#2fa0fc,#d945f7);
    opacity: 0.5;
}

.colorFondoLetras {
  width: 100%;
  background: linear-gradient(90deg,#cc000077,#ffffff);
  opacity: 0.5;
}
.colorRosaSeccion {
  width: 100%;
  background: linear-gradient(90deg,#fd000054,#ffffff);
  opacity: 0.8;
}


.btn{
    border-radius: 1em;
    background-color: #FFF; 
    border-color: black;


    display: inline-block;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}

