<!-- MENU -->
<app-navbar></app-navbar>

<!-- IMAGEN DE INICIO CON CONTADOR -->
<section  id="inicio">
    <img src="./assets/photos/lu1.jpg" alt="" width="100%">
    <app-timer></app-timer>
</section>

<!-- IMAGEN CON MOVIMIENTO -->
<marquee scrollamount="20" direction="right" style="position: relative; top:-20rem;">
    <!-- //guadalupe y miguel -->
    <img src="./assets/photos/GUMI.PNG" width="40%" >
    <!-- //guadalupe y miguel -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="./assets/photos/globo.png" width="5%" style=" -ms-transform: rotate(20deg); /* IE 9 */  transform: rotate(20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="./assets/photos/globo.png" width="5%" style=" -ms-transform: rotate(-20deg); /* IE 9 */ transform: rotate(-20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- //guadalupe y miguel -->
    <img src="./assets/photos/GUMI.PNG" width="40%" >
    <!-- //guadalupe y miguel -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="./assets/photos/globo.png" width="5%" style=" -ms-transform: rotate(20deg); /* IE 9 */  transform: rotate(20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="./assets/photos/globo.png" width="5%" style=" -ms-transform: rotate(-20deg); /* IE 9 */ transform: rotate(-20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <!-- //guadalupe y miguel -->
     <img src="./assets/photos/GUMI.PNG" width="40%" >
     <!-- //guadalupe y miguel -->
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <img src="./assets/photos/globo.png" width="5%" style=" -ms-transform: rotate(20deg); /* IE 9 */  transform: rotate(20deg);">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <img src="./assets/photos/globo.png" width="5%" style=" -ms-transform: rotate(-20deg); /* IE 9 */ transform: rotate(-20deg);">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- //guadalupe y miguel -->
    <img src="./assets/photos/GUMI.PNG" width="40%" >
    <!-- //guadalupe y miguel -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="./assets/photos/globo.png" width="5%" style=" -ms-transform: rotate(20deg); /* IE 9 */  transform: rotate(20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="./assets/photos/globo.png" width="5%" style=" -ms-transform: rotate(-20deg); /* IE 9 */ transform: rotate(-20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    
    <img src="./assets/photos/bici_monitos.png" width="20%">
</marquee>

<!-- SECCION DE NOSOTROS -->
<section  id="nosotros">
    <BR/><BR/>
    <h3 style="text-align: center; color:rgb(211, 19, 19) ; FONT-FAMILY: cursive;">NUESTRA HISTORIA</h3>
    <BR/><BR/><BR/>
    <app-carousel></app-carousel>
</section>

<!-- SECCION DE DONDE Y CUENDO -->
<section  id="dondeYCuando">
    <BR/><BR/><BR/><BR/><BR/>
    <h3 style="text-align: center; color:rgb(211, 19, 19) ; FONT-FAMILY: cursive;">CUÁNDO Y  DÓNDE SERÁ LA PACHANGA?</h3>
    <BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/>

    <div class="py-5" style="position: relative; top:-250px;">
        <div class="container">
        <div class="row">
            <div class="col-md-6" style="width:25rem ;">
                <div class="card"> <img class="card-img-top" 
                                        src="https://live.staticflickr.com/2851/33759666116_a4f2216a02_b.jpg"
                                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">CEREMONIA RELIGIOSA</h4>
                        <p class="card-text"><b>Dirección:</b> Plaza Principal S/N, Sta Cruz Meyehualco, Iztapalapa, 09700 Ciudad de México, CDMX.</p> <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>


                    <iframe class="mapa-pop" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1geNxkp_O4NgreB1jwUeAOh2Cu_j7Gjw&amp;q=19.33958654509604,-99.03908603895836" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                </div>
            </div>
            <div class="col-md-6" style="width:25rem ;">
                <div class="card"> <img class="card-img-top" 
                                        src="https://cdn0.bodas.com.mx/vendor/5507/3_2/960/jpg/galeria-2_5_85507-160400150382808.jpeg"
                                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">RECEPCION</h4>
                        <p class="card-text"><b>Dirección:</b> Av: Hidalgo #15 Col. Pueblo de, Sta Cruz Meyehualco, 09700 Ciudad de México, CDMX
                        </p> <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <iframe class="mapa-pop" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1geNxkp_O4NgreB1jwUeAOh2Cu_j7Gjw&amp;q=19.339475469350997, -99.04084992929062" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<!-- SECCION CONFIRMAR ASISTENCIA -->
<section  id="confirmarAsistencia">
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 


</section>

<!-- FOTOS -->
<section  id="fotos">
    <BR/><BR/><BR/><BR/><BR/>
    <h3 style="text-align: center; color:rgb(211, 19, 19) ; FONT-FAMILY: cursive;">MIRA NUSTRAS FOTOS</h3>
    <BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/>
    <app-gallery></app-gallery>
</section>


<section  id="regalos">
  
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1>    
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 


</section>
