<!-- MENU -->
<app-navbar></app-navbar>

<!-- IMAGEN DE INICIO CON CONTADOR -->
<section  id="inicio">
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/264257356_10219456639905213_5569772820039779812_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeG7M2UcobNjXXBTNetv73kkZ55Kly3mFydnnkqXLeYXJ7bc5ROu3ZCka5MhYo4E3mE&_nc_ohc=oSJdEd07Qb4AX_skjo4&_nc_oc=AQkCre5wrymIR5MnDVKy9DKn5w6SaYGIdEeIexrByTWJcCyWErFAONoWtMOP_pLZuX4TLn2mhy6X0JbjYDnb-XnV&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT9b0d1VyY3n-UBuqWeBDa4B0rZwRka9knEiddHrxzLUVw&oe=61CA9DC1" 
    width="100%">
    <app-timer style="position: relative; top:-200px;"></app-timer>
</section>

<!-- IMAGEN CON MOVIMIENTO -->
<marquee scrollamount="20" direction="right" style="position: relative; top:-200px;">
    <!-- //guadalupe y miguel -->
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/265152650_10219456877831161_4741705232512666385_n.jpg?_nc_cat=104&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeGG_PEX3p5JT0Ed1VVJmCW5lKfB74-O3zmUp8Hvj47fOfGravZC9M7y5KdSvkNlQFc&_nc_ohc=kZcAGL_d4a0AX9NqUDS&_nc_ht=scontent-qro1-2.xx&oh=00_AT-La1IN-Dq_ElDRWLV1QXt-lLc8FTlA5CWVX-poLltk6Q&oe=61CB91EF"
    width="15%">
    <!-- //guadalupe y miguel -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/269693712_10219506068660901_5699195961075790047_n.jpg?_nc_cat=106&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeHL4JOtzYawLc5a63mY2-H3dQQ4Dn1CNEp1BDgOfUI0SsyFPNOOzH7F9-QDMELKQ2w&_nc_ohc=RiVey-J5oy4AX-VkGVL&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT_uhSsep7dtOjAtGF00mOoTugvM8N8x7FBaGEs5LdmDug&oe=61CA963E"
    width="5%" style=" -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/269693712_10219506068660901_5699195961075790047_n.jpg?_nc_cat=106&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeHL4JOtzYawLc5a63mY2-H3dQQ4Dn1CNEp1BDgOfUI0SsyFPNOOzH7F9-QDMELKQ2w&_nc_ohc=RiVey-J5oy4AX-VkGVL&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT_uhSsep7dtOjAtGF00mOoTugvM8N8x7FBaGEs5LdmDug&oe=61CA963E"
    width="5%" style=" -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- //guadalupe y miguel -->
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/265152650_10219456877831161_4741705232512666385_n.jpg?_nc_cat=104&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeGG_PEX3p5JT0Ed1VVJmCW5lKfB74-O3zmUp8Hvj47fOfGravZC9M7y5KdSvkNlQFc&_nc_ohc=kZcAGL_d4a0AX9NqUDS&_nc_ht=scontent-qro1-2.xx&oh=00_AT-La1IN-Dq_ElDRWLV1QXt-lLc8FTlA5CWVX-poLltk6Q&oe=61CB91EF"
    width="15%">
    <!-- //guadalupe y miguel -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/269693712_10219506068660901_5699195961075790047_n.jpg?_nc_cat=106&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeHL4JOtzYawLc5a63mY2-H3dQQ4Dn1CNEp1BDgOfUI0SsyFPNOOzH7F9-QDMELKQ2w&_nc_ohc=RiVey-J5oy4AX-VkGVL&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT_uhSsep7dtOjAtGF00mOoTugvM8N8x7FBaGEs5LdmDug&oe=61CA963E"
    width="5%" style=" -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/269693712_10219506068660901_5699195961075790047_n.jpg?_nc_cat=106&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeHL4JOtzYawLc5a63mY2-H3dQQ4Dn1CNEp1BDgOfUI0SsyFPNOOzH7F9-QDMELKQ2w&_nc_ohc=RiVey-J5oy4AX-VkGVL&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT_uhSsep7dtOjAtGF00mOoTugvM8N8x7FBaGEs5LdmDug&oe=61CA963E"
    width="5%" style=" -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- //guadalupe y miguel -->
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/265152650_10219456877831161_4741705232512666385_n.jpg?_nc_cat=104&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeGG_PEX3p5JT0Ed1VVJmCW5lKfB74-O3zmUp8Hvj47fOfGravZC9M7y5KdSvkNlQFc&_nc_ohc=kZcAGL_d4a0AX9NqUDS&_nc_ht=scontent-qro1-2.xx&oh=00_AT-La1IN-Dq_ElDRWLV1QXt-lLc8FTlA5CWVX-poLltk6Q&oe=61CB91EF"
    width="15%">
    <!-- //guadalupe y miguel -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/269693712_10219506068660901_5699195961075790047_n.jpg?_nc_cat=106&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeHL4JOtzYawLc5a63mY2-H3dQQ4Dn1CNEp1BDgOfUI0SsyFPNOOzH7F9-QDMELKQ2w&_nc_ohc=RiVey-J5oy4AX-VkGVL&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT_uhSsep7dtOjAtGF00mOoTugvM8N8x7FBaGEs5LdmDug&oe=61CA963E"
    width="5%" style=" -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/269693712_10219506068660901_5699195961075790047_n.jpg?_nc_cat=106&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeHL4JOtzYawLc5a63mY2-H3dQQ4Dn1CNEp1BDgOfUI0SsyFPNOOzH7F9-QDMELKQ2w&_nc_ohc=RiVey-J5oy4AX-VkGVL&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT_uhSsep7dtOjAtGF00mOoTugvM8N8x7FBaGEs5LdmDug&oe=61CA963E"
    width="5%" style=" -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/269143770_10219506033460021_1607573711213693263_n.jpg?_nc_cat=108&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeFX6jB6ep1sdK6_jAoyGDiFpgF7uUh2OramAXu5SHY6tjD8MT2C_qBRdhlrStTxVoE&_nc_ohc=o1t-7lNlv2wAX9By-Au&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT_Mfw08ODNgAdyOGeWJF5lz3bEkE5KtFkkGdBv5jECUKQ&oe=61CBCBAA" 
    width="10%">
</marquee>

<!-- SECCION DE NOSOTROS -->
<section  id="nosotros">
    <div class="row">
        <h1 style="text-align: center; color:rgb(211, 19, 19) ; FONT-FAMILY: cursive;">NUESTRA HISTORIA</h1>
        <BR/><BR/>
        <app-carousel></app-carousel>
    </div>

</section>

<!-- SECCION DE DONDE Y CUENDO -->
<section  id="dondeYCuando">
    <BR/><BR/><BR/><BR/><BR/>
    <h1 style="text-align: center; color:rgb(211, 19, 19) ; FONT-FAMILY: cursive;">CUÁNDO Y  DÓNDE SERÁ LA PACHANGA?</h1>
    <BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/><BR/>

    <div class="py-5" style="position: relative; top:-250px;">
        <div class="container">
        <div class="row">
            <div class="col-md-6" style="width:25rem ;">
                <div class="card"> <img class="card-img-top" 
                                        src="https://live.staticflickr.com/2851/33759666116_a4f2216a02_b.jpg"
                                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">CEREMONIA RELIGIOSA</h4>
                        <p class="card-text"><b>Dirección:</b> Plaza Principal S/N, Sta Cruz Meyehualco, Iztapalapa, 09700 Ciudad de México, CDMX.</p> <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>


                    <iframe class="mapa-pop" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1geNxkp_O4NgreB1jwUeAOh2Cu_j7Gjw&amp;q=19.33958654509604,-99.03908603895836" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                </div>
            </div>
            <div class="col-md-6" style="width:25rem ;">
                <div class="card"> <img class="card-img-top" 
                                        src="https://cdn0.bodas.com.mx/vendor/5507/3_2/960/jpg/galeria-2_5_85507-160400150382808.jpeg"
                                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">RECEPCION</h4>
                        <p class="card-text"><b>Dirección:</b> Av: Hidalgo #15 Col. Pueblo de, Sta Cruz Meyehualco, 09700 Ciudad de México, CDMX
                        </p> <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <iframe class="mapa-pop" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1geNxkp_O4NgreB1jwUeAOh2Cu_j7Gjw&amp;q=19.339475469350997, -99.04084992929062" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<!-- SECCION CONFIRMAR ASISTENCIA -->
<section  id="confirmarAsistencia">
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 
    <h1>confirmarAsistencia</h1> 

</section>

<!-- FOTOS -->
<section  id="fotos">
    <app-gallery></app-gallery>
</section>


<section  id="regalos">
  
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 
    <h1>regalos</h1> 

</section>
