  .bg-primary {
      background-color: #910505 !important;
  }
  .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.795);
  }

  .navbar a:hover {
    background: rgba(221, 60, 60, 0.3);
  }

  .navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 200; /* para mandar a z 100, que este hasta enfrente */

  }

 
  .fa {
    width: 100%;       //esto centra los iconos
    text-align: center;
  }

  .texto-centrado {
   text-align: center;
   font-size: 0.8rem; // LETTER SIZE
  }

  .logo{
    display: block;
    margin: 0vh auto;
    margin: 0vw auto;
    width: 75%; //tamaño de imagen
  }
 