
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#miNavBar"
          aria-controls="miNavBar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="toggleCollapsed()"
        >
          <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }" id="miNavBar">
        <ul class="navbar-nav mr-auto">

              <li class="nav-item"  >
                <a  pageScroll  class="nav-link" href="#inicio" > 
                  <i class="fa fa-3x fa-home"></i> 
                  <p class="texto-centrado" style="white-space:nowrap;"> INICIO</p>   
                </a>
              </li>



              <li class="nav-item">
                <a  pageScroll  class="nav-link " href="#nosotros" > 
                  <i class="fa fa-3x fa-user-md">  </i> 
                  <p class="texto-centrado" style="white-space:nowrap;"> NUESTRA HISTORIA</p>   
                </a>
              </li>

              <li class="nav-item">
                <a  pageScroll  class="nav-link pure-button pure-button-primary" href="#dondeYCuando"> 
                  <i class="fa fa-3x fa-car">  </i>
                  <p class="texto-centrado" style="white-space:nowrap;"> CUÁNDO & DÓNDE</p>
                </a>
              </li>

              <li class="nav-item">
                <a  pageScroll class="nav-link" href="#inicio" > 
                  <img  src="https://scontent-qro1-2.xx.fbcdn.net/v/t39.30808-6/269619544_10219493903276774_2861064979575113395_n.jpg?_nc_cat=108&_nc_rgb565=1&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeEMdUiaFEVSHsSSy6uCMTNA0RVwArkEM8DRFXACuQQzwIeE7BuZ53ZeFmnp9ISI1SE&_nc_ohc=I_t-eS_psZUAX-1Pzk0&tn=R-P5pGDDmpXqdQZT&_nc_ht=scontent-qro1-2.xx&oh=00_AT9nj3y7i32ujJWICocxmL_mcXyRQ3MYcSoQegKRql_EEA&oe=61CA5263" 
                  alt="logo" width="50%"   style="position: relative; left: 10rem;" />
                </a>
              </li>
        
              <li class="nav-item" >
                <a pageScroll  class="nav-link" href="#confirmarAsistencia" > 
                  <i class="fa fa-3x fa-calendar-check-o">  </i> 
                  <p class="texto-centrado" style="white-space:nowrap;">CONFIRMAR ASISTENCIA</p>   
                </a>
              </li>
              
              <li class="nav-item">
                <a  pageScroll  class="nav-link" href="#fotos" > 
                  <i class="fa fa-3x fa-camera-retro">  </i> 
                  <p class="texto-centrado" style="white-space:nowrap;"> FOTOS</p>   
                </a>
              </li>
              
              <li class="nav-item">
                <a pageScroll  class="nav-link" href="#regalos" > 
                  <i class="fa fa-3x fa-gift">  </i> 
                  <p class="texto-centrado" style="white-space:nowrap;">MESA DE REGALOS</p>   
                </a>
              </li>        
        </ul>
      </div>
    </div>
  </nav>

